.pb-body{
  text-align: center;
}

.pb-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.pb-board{
  /* height: 300px; */
  min-width: 300px;
  
  background-color: aqua;
}

.pb-board p{
  font-weight: bold;
}

.pb-board form{
  padding-bottom: 25px;
}
.pb-board form input{
  margin-left: 5px;
}

.pb-board form input:nth-child(2){
  background-color: #00B74A;
  color: white;
  font-weight: bold;
  border-color: transparent;
  cursor: pointer;
  border-radius: 3px;
}

.pb-board form input:nth-child(2):hover{
  background-color: #008535;
}
.pb-board form input:nth-child(3){
  background-color: #F93154;
  color: white;
  font-weight: bold;
  border-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.pb-board form input:nth-child(3):hover{
  background-color: #b32039;
}

.pb-title{
  display: flex;
  align-items: center;
  justify-content: space-around;
}